[Desktop Entry]
Encoding=UTF-8
Name=Link to Project proposal notes - Google Docs
Type=Link
URL=https://docs.google.com/document/d/1vyCny2zuhh8-VoWyDVURRDfwW233X4pCokMowzDyKkE/edit
Icon=text-html
