[Desktop Entry]
Encoding=UTF-8
Name=Link to Project Proposal - Google Docs
Type=Link
URL=https://docs.google.com/document/d/1H61SYoylo5haZrq7BDGZ1_sRcdA_SpbiBugsr892gG8/edit
Icon=text-html
