[Desktop Entry]
Encoding=UTF-8
Name=Link to Essay - Google Docs
Type=Link
URL=https://docs.google.com/document/d/1xkdWR_jdxx278hh2ctv0QxRRefiELjpzbK9XKHSUwU4/edit
Icon=text-html
